version: "3.9"

services:
  db:
    image: mongo:6.0
    container_name: pvba-db
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    restart: unless-stopped

volumes:
  mongo_data:
