version: "3.9"

services:
  web:
    build: .
    container_name: pvba
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - mongo
    restart: always

  mongo:
    image: mongo:6.0
    container_name: mongo
    volumes:
      - mongo-data:/data/db
    restart: always

volumes:
  mongo-data:
