version: "3.9"

services:
  mongo:
    image: mongo:6.0
    container_name: mongo-dev
    ports:
      - "27017:27017"
    volumes:
      - mongo-dev-data:/data/db
    restart: unless-stopped

volumes:
  mongo-dev-data:
