@import "tailwindcss";


body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
}

.swiper-button-next,
.swiper-button-prev {
  width: 36px;
  height: 36px;
  background-color: white;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: 36px;
  mask-size: 36px;
}


.swiper-button-next {
  -webkit-mask-image: url('/img/right-arrow.svg');
  mask-image: url('/img/right-arrow.svg');
}

.swiper-button-prev {
  -webkit-mask-image: url('/img/left-arrow.svg');
  mask-image: url('/img/left-arrow.svg');
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

html {
  @apply bg-white text-black;
}

html.dark {
  @apply bg-black text-white;
}