@import "tailwindcss";

{{/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */}}

{{/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */}}

{{/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
} */}}

body {
  {{/* background: var(--background);
  color: var(--foreground); */}}
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
}

.swiper-button-next,
.swiper-button-prev {
  width: 36px;
  height: 36px;
  background-color: white;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: 36px;
  mask-size: 36px;
}


.swiper-button-next {
  -webkit-mask-image: url('/img/right-arrow.svg');
  mask-image: url('/img/right-arrow.svg');
}

.swiper-button-prev {
  -webkit-mask-image: url('/img/left-arrow.svg');
  mask-image: url('/img/left-arrow.svg');
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}